<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/6fd737ce-f8d4-4332-afec-911ce46fa9a5/resourceGroups/weather_rg/providers/Microsoft.ContainerRegistry/registries/weatherApp123</ResourceId>
    <ResourceName>weatherApp123</ResourceName>
    <ResourceGroup>weather_rg</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://weatherapp123.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>80ec8b41-6559-4d33-b5cf-6a9e9b77570c</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>